<!DOCTYPE html>
<html>
  <head>
    <title>AsinPicker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag() %>

    <style type="text/css">
    .bs-component + .bs-component {
      margin-top: 1rem;
    }
    @media (min-width: 768px) {
      .bs-docs-section {
        margin-top: 8em;
      }
      .bs-component {
        position: relative;
      }
      .bs-component .modal {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        z-index: 1;
        display: block;
      }
      .bs-component .modal-dialog {
        width: 90%;
      }
      .bs-component .popover {
        position: relative;
        display: inline-block;
        width: 220px;
        margin: 20px;
      }
      .nav-tabs {
        margin-bottom: 15px;
      }
      .progress {
        margin-bottom: 10px;
      }

      table.table-headerfixed {
      /*    width: 100%;*/
        table-layout: fixed;
      }

      table.table-headerfixed thead,
      table.table-headerfixed tbody,
      table.table-headerfixed tr,
      table.table-headerfixed td,
      table.table-headerfixed th {
          display: block;
      }

      table.table-headerfixed tr:after {
          content: ' ';
          display: block;
          visibility: hidden;
          clear: both;
      }

      table.table-headerfixed tbody {
          height: 400px;
          overflow-y: scroll;
      }

      table.table-headerfixed thead {
          /* fallback */
          width: 97%;
          /* minus scroll bar width */
          width: calc(100% - 18px);
      }

      table.table-headerfixed tbody td,
      table.table-headerfixed thead th {
          float: left;
          height: 2em;
          display: table-cell;
          text-align: center;
          padding: 3px;
          font-size: 14px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
      }

      table.table-headerfixed tbody td {
          height: 2em;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 14px;
      }

    }
    </style>

  </head>

  <body>
    <header class="sticky-top">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="http://www.ec-merchant.com" target="_blank">
            <%= image_tag("ecmerchant_small.png", :height => '50px') %>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/products/search">Top <span class="sr-only">(current)</span></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
    <script type="text/javascript">
      $('.bs-component [data-toggle="popover"]').popover();
      $('.bs-component [data-toggle="tooltip"]').tooltip();
    </script>
  </body>
</html>
